// bottom footer of the document

#main-footer{
    #footer-top{
        background: url('../images/footBG.jpg') no-repeat center;
        background-size: cover;
        padding: 40px 0;
        // color: $primary-clr;
        
        header{
            border-bottom: 1px solid white;
            margin-bottom: 30px;
            h4{
                color: white;
                font-size: 1rem;
            }
        }
        .aboutus-desc{
            font-size: 0.9rem;
        }
        .social-media-icons{
            a{
                color: white;
                margin-right: 12px;
                &:hover{
                    color: white;
                    text-decoration: none;
                }
            }
        }
        h4{
            font-size: 1rem;
            color: white;
            font-weight: 600;
            a{
                color: white;
                &:hover{
                    color: white;
                    text-decoration: none;
                }
            }
        }
        ul{
            li{
                list-style-type: none;
                font-size: 0.9rem;
                h4{
                    font-weight: 600;
                    a{
                        color: white !important;
                    }
                }
                a{
                    color: $primary-clr;
                    @include easeOut();
                    &:hover{
                        color: white;
                        text-decoration: none;
                        @include easeOut();
                    }
                }
            }
        }
        .websitebunker-logo{
            width: 230px;
        }

        .latest-article-grid{
            display: flex;
            align-items: center;
            // grid-template-columns: 15% 70%;
            margin-bottom: 20px;

            .bg-image{
                min-width: 70px;
                height: 70px;
                margin-right: 10px;
                background-repeat: no-repeat;
                background-size: cover;
                overflow-x: hidden;
            }

            .bg-image-1{
                background-image: url('../images/latest-article-1.jpg');
            }
            .bg-image-2{
                background-image: url('../images/latest-article-2.jpg');
            }
            .bg-image-3{
                background-image: url('../images/latest-article-3.jpg');
            }
            .bg-image-4{
                background-image: url('../images/latest-article-4.jpg');
            }

            h4{
                font-size: 0.9rem;
                padding: 0;
                margin: 0;
            }
            p{
                font-size: 0.8rem;
                padding: 0;
                margin: 0;
                line-height: 1rem;
            }
        }
    }
    #footer-bottom{
        a{
            color: $primary-clr;
        }
        background: #000;
        .footer-logo{
            img{
                width: 150px;
            }
        }
        small{
            font-size: 0.7rem;
        }
        .footer-col-2{
            small{
                font-size:0.7rem;
                margin-right: 5px;
            }
        }

        .first-col{
            display: flex;
        }
        .second-col{
            display: flex;

            div{
                margin-right: 5px;
            }
        }
    }
}