// import partials
@import 'config';
@import 'header';
@import 'slider';
@import 'index-page';
@import 'footer';
@import 'mobile';


// full document settings
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    color: $primary-clr;
    line-height: 1.5rem;
    font-size: 1.1rem;
}
